
@darkgreen: #0a7b0a;
@yellow: #e4b50b;
@turquoise: #199d9c ;
@blue: #18549f;
@brown: #96460e;
@red: #f13516;
@lightgreen: #8bb214;
@purple: #9d1686;
@orange: #F1880E;
@gray: #404040;

@colors: darkgreen, @darkgreen, yellow, @yellow, turquoise, @turquoise, blue, @blue, brown, @brown, red, @red, lightgreen, @lightgreen, purple, @purple, orange, @orange, gray, @gray;


.for(@list, @code) {
    & {
        .loop(@i:1) when (@i =< length(@list)) {
            @name: extract(@list, @i);
            @color: extract(@list, @i+1);
            @code();

            .loop(@i + 2);
        }

        .loop();
    }
}

.for(@colors, {
    .mosaic-color-@{name},
    .color-@{name} {
        background-color: @color;
        color: white;
        padding: 1ex;
        .mce-edit-focus{
          color: black;
        }

    }
    .color-@{name},
    .mosaic-color-@{name} a{
      color: white;
      .mce-edit-focus{
        color: black;
      }

    }

});

.highlightbox{
    padding: 1em;
    background-color: @gray;
    margin-bottom: .5em;
    color: white;
}
.highlightimage{
    font-size: 90%;
     position: relative;
      background-color:transparent;
     padding: 0 !important;
}
.highlightimage a{
    font-size: 90%;
     position: relative;
     height: 250px;
     display: block;
     padding: 0 !important;
     background-size: cover;
     background-position: 50%;
     background-repeat: no-repeat;
}
.highlightimage a h2{
 width: 50%;
 padding: .25em;
 position: absolute;
 display: block;
 background-color: @gray;
 bottom: 0;
 right: 0;
}
.highlightimage h2{
    font-size: 150%;
}
.col-md-6 .highlightimage h2,
.col-md-7 .highlightimage h2,
.col-md-8 .highlightimage h2,
.col-md-9 .highlightimage h2,
.col-md-10 .highlightimage h2,
.col-md-11 .highlightimage h2,
.col-md-12 .highlightimage h2
{
    font-size: 200%;
}
.highlightbox a.visited,
.highlightbox a:hover,
.highlightbox a{
    color: white;

}

.horisontallisting{
  overflow-x:hidden;
 overflow-y:hidden;
 -webkit-overflow-scrolling: touch;
 position: relative;
  height: 200px;
  width: 100%;


  .horisontallistingbox{
    width: 130px;
    height: 200px;
    float: left;
    position: relative;
    padding-right: 30px;
    display: inline-block;
    a{
      display: block;
      height: 100%;
      width: 150px;
    }
    div.image{
      height: 150px;
      width: 100px;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
    }
    h2{
      font-size: 85%;
      width: 100px;
      height: 80px;
      overflow: hidden;
      margin: 0;
      vertical-align: top;
      display: table-cell;
      padding: 1ex;
      margin-top: 20px;
    }
  }
}

.horisontallisting.horisontalnewslisting{
  color: @blue;
  a{
    color: @blue;
  }
  .newsheading{
    width: 150px;
    float: left;
  }
  h2{
    font-size: 110%;
    font-weight: bold;
    width: 100%;
    padding: 0;
    height: auto;
  }
  div{
    font-size: 90%;
  }
  .horisontallistingbox{
    padding: 1em;
    border-left: 1px solid @blue;
    width: 180px;
  }



}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#portal-footer-wrapper .portletWrapper:first-child{
  border-bottom: none !important;
}

#portal-footer-wrapper p{
  border-bottom: none !important;
}

.portletContent{
  text-align: left !important;
  font-size: 90%;
  ul{
    padding-left: 0;
  }
  li{
      list-style-type: none !important;
  }
}
.mosaic-border{
  border: 1px solid rgba(208, 208, 208, 0.91);
  box-shadow: 0 3px 10px 0 rgb(223, 223, 223);

}
.mosaic-border:hover{
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}
