
@color-music: #0a7b0a;
@color-multilingual: #e4b50b;
@color-movie: #199d9c ;
@color-literature: #18549f;
@color-history: #96460e;
@color-games: #f13516;
@color-children: #8bb214;
@color-art: #9d1686;

.music{background-color: @color-music;}
.multilingual{background-color: @color-multilingual;}
.movie{background-color: @color-movie;}
.literature{background-color: @color-literature;}
.history{background-color: @color-history;}
.games{background-color: @color-games;}
.children{background-color: @color-children;}
.art{background-color: @color-art;}
